# =============== #
 
# Unity generated #
 
# =============== #
 
Temp/
 
Obj/
 
UnityGenerated/
 
Library/
 
Assets/1. Scenes
!.gitkeep

Assets/2. Scripts
!.gitkeep

Assets/3. Prefabs
!.gitkeep

Assets/4. Images
!.gitkeep

Assets/5. Models
!.gitkeep

Assets/6. Sounds
!.gitkeep

Assets/Resource
!.gitkeep
 
# ===================================== #
 
# Visual Studio / MonoDevelop generated #
 
# ===================================== #
 
ExportedObj/
 
*.svd
 
*.userprefs
 
*.csproj
 
*.pidb
 
*.suo
 
*.sln
 
*.user
 
*.unityproj
 
*.booproj
 
 
 
# ============ #
 
# OS generated #
 
# ============ #
 
.DS_Store
 
.DS_Store?
 
._*
 
.Spotlight-V100
 
.Trashes
 
Icon?
 
ehthumbs.db
 
Thumbs.db
 
GraphicsSettings.asset
 
ProjectSettings.asset
 
ProjectVersion.txt
Different world Encyclopedia/.vs/Different world Encyclopedia/v15/Server/sqlite3/storage.ide-wal
Different world Encyclopedia/.vs/Different world Encyclopedia/v15/Server/sqlite3/storage.ide-shm
Different world Encyclopedia/.vs/Different world Encyclopedia/v15/Server/sqlite3/storage.ide
Different world Encyclopedia/.vs/Different world Encyclopedia/DesignTimeBuild/.dtbcache
